<!-- Homepage.erb -->
<div class="container-fluid">
  <div class="row welcome_blurb">

    <br />
    Find your new favorite restaurant from your neighbors with CHOMP
    <br />
    <br />
  </div>
</div>

<div class="col-md-12 top_ten">
  <div class="col-md-6 topper" style="float: left">
    TOP 10 RESTAURANTS
  </div>
  <div class="col-md-6 topper" style="float: right; background: darkred">
    TOP 10 USERS
  </div>
  <br />
    <div class="">
        <div class="col-md-6">
          <% @sorted_restaurants.each do |rest| %>
            <% if rest.vote_amount >= 10 %>
              <% @vote_class = 'high-vote' %>
            <% elsif rest.vote_amount >= 0 %>
              <% @vote_class = 'med-vote' %>
              <% else rest.vote_amount < 0 %>
              <% @vote_class = 'low-vote' %>
            <% end %>

              <div class="rest-list <%= @vote_class %> ">
                <p><%= @rest_rank %>.  <%= rest.name %> </p>
                <p>Score: <%= rest.vote_amount %> </p>
                <hr>
                  <form class="" action="/restaurants/voteup" method="post">
                    <input type="hidden" name="id" value="<%= rest.id %>">
                    <button class="btn-primary" type="submit" name="button" style="display: inline">Vote up</button>
                  </form>
                  <form class="" action="/restaurants/votedown" method="post">
                    <input type="hidden" name="id" value="<%= rest.id %>">
                    <button class="btn-danger" type="submit" name="button" style="display: inline">Vote down</button>
                  </form>
              </div>
              <% @rest_rank += 1 %>
          <% end %>
          <!-- 1.<hr>
          2.<hr>
          3.<hr>
          4.<hr>
          5.<hr> -->
        </div>
        <div class="col-md-6">
          <% @sorted_users.each do |user| %>
              <div class="rest-list">
                <p><%= @user_rank %>.  <%= user.username %> </p>
                <p>Karma: <%= user.karma %> </p>
                <hr>
              </div>
            <% @user_rank += 1 %>
          <% end %>
        </div>
    </div>
</div>
