<!-- Homepage.erb -->
<div class="container-fluid">
  <div class="row welcome_blurb">
    By the people, for the people. Come find bars and restaurants that the whole town is buzzing about. Add a location and give us some feedback. ADD MORE DETAILS OF POSTS HERE
  </div>
</div>

<div class="col-md-12 top_ten">
  <div class="col-md-12 topper">
    TOP 10 RESTAURANTS
  </div>
  <br />
    <div class="">
        <div class="col-md-6">
            <% @sorted_restaurants.each do |rest| %>
            <p><%= @rest_rank %>.  <%= rest.name %> </p>
            <p>Score: <%= rest.vote_amount %> </p>
            <hr>
            <% @rest_rank += 1 %>
          <% end %>
          <!-- 1.<hr>
          2.<hr>
          3.<hr>
          4.<hr>
          5.<hr> -->
        </div>
        <div class="col-md-6">
          <% @sorted_users.each do |user| %>
          <p><%= @user_rank %>.  <%= user.username %> </p>
          <p>Karma: <%= user.karma %> </p>
          <hr>
          <% @user_rank += 1 %>
          <% end %>
        </div>
    </div>
</div>
