<!-- Homepage.erb -->
<div class="container-fluid">
  <div class="row welcome_blurb">
    By the people, for the people. Come find bars and restaurants that the whole town is buzzing about. The more people that agree with your post, the more trustworthy the user! Eat, recommend and repeat!
  </div>
</div>

<div class="col-md-12 top_ten">
  <div class="col-xs-2 col-s-3 col-md-6 topper_restaurant" style="float: left">
    TOP 10 RESTAURANTS
  </div>
  <div class="col-xs-2 col-s-3 col-md-6 topper_user" style="float: right">
    TOP 10 USERS
  </div>
  <br />
    <div class="">
        <div class="col-md-6">
<<<<<<< HEAD
          <% @sorted_restaurants.each do |rest| %>
              <div class="rest-list">
                <p><%= @rest_rank %>.  <%= rest.name %> </p>
                <p>Score: <%= rest.vote_amount %> </p>
                <hr>
              </div>
              <% @rest_rank += 1 %>
          <% end %>
          <!-- 1.<hr>
=======
<<<<<<< HEAD
            <% @sorted_restaurants.each do |rest| %>
            <p>Restaurant: <%= rest.name %> </p>
            <p>Score: <%= rest.vote_amount %> </p>
            <hr>
          <% end %>
=======
          <!-- going to include top ten from :vote_amount in BARS class -->
          <!-- Bars.sort_by { |bar| bar[:vote_amount]}.reverse!  -->
          <!-- need to add a loop to only include the top 10 -->
          <!-- <% @restaurants.sort_by { |rest| rest[:vote_amount]}.reverse! %>
          i = 0
          num = 11
          while i<num do
            puts "#{i + 1}. #{rest.name}. #{rest.neighborhood}. #{rest.tags}. #{rest.vote_amount}"
            puts "#{rest.description}"
            i += 1
          end -->

            <p>Restaurant: <%= rest.name %> </p>
            <p>Description: <%= rest.description %> </p>
            <p>tags: <%= rest.tags %> </p>
            <p>Score: <%= rest.vote_amount %> </p>
            <p>Neighborhood: <%= rest.neighborhood %> </p>
            <form class="" action="/restaurants/voteup" method="post">
              <input type="hidden" name="id" value="<%= rest.id %>">
              <button type="submit" name="button">Vote this restaurant up!</button>
            </form>
            <form class="" action="/restaurants/votedown" method="post">
              <input type="hidden" name="id" value="<%= rest.id %>">
              <button type="submit" name="button">Vote this restaurant down.</button>
            </form>

            <hr>
          <% end %>

>>>>>>> b43ad05382d1c03eb0757300a59e70217dcf5cf8
          1.<hr>
>>>>>>> eadf2306d996477de232363790efa38b0b5ba05e
          2.<hr>
          3.<hr>
          4.<hr>
          5.<hr> -->
        </div>
        <div class="col-md-6">
          <% @sorted_users.each do |user| %>
              <div class="rest-list">
                <p><%= @user_rank %>.  <%= user.username %> </p>
                <p>Karma: <%= user.karma %> </p>
                <hr>
              </div>
            <% @user_rank += 1 %>
          <% end %>
        </div>
    </div>
</div>
