<!-- Homepage.erb -->
<div class="container-fluid">
  <div class="row welcome_blurb">

    <br />
    Find your new favorite restaurant from your neighbors with CHOMP
    <br />
    <br />
  </div>
</div>

<div class="col-md-12 top_ten">
  <div class="col-xs-6 topper" style="float: left">
    TOP RESTAURANTS
  </div>
  <div class="col-xs-6 topper" style="float: right; background: darkred">
    TOP USERS
  </div>
  <br />
  <br />
  <br />
    <div class="">
        <div class="col-xs-6">
          <% @sorted_restaurants.each do |rest| %>
            <% if rest.vote_amount >= 10 %>
              <% @vote_class = 'high-vote' %>
            <% elsif rest.vote_amount >= 0 %>
              <% @vote_class = 'med-vote' %>
              <% else rest.vote_amount < 0 %>
              <% @vote_class = 'low-vote' %>
            <% end %>

              <div class="rest-list <%= @vote_class %> ">
                <div style="display: inline-block"><%= @rest_rank %>.  <%= rest.name %> </div>
                <div style="display: inline-block; float: right">Poster: <%= User[id: rest.poster_id].username %> </div>
                <hr>
                  <div style="margin: auto">
                    <form class="" action="/restaurants/voteup" method="post" style="display: inline-block">
                      <input type="hidden" name="id" value="<%= rest.id %>">
                      <button class="btn-primary" type="submit" name="button" style="display: inline-block">Vote up</button>
                    </form>
                    <form class="" action="/restaurants/votedown" method="post" style="display: inline-block">
                      <input type="hidden" name="id" value="<%= rest.id %>">
                      <button class="btn-danger" type="submit" name="button" style="display: inline-block">Vote down</button>
                    </form>
                    <form class="" action="/restaurants/goto" method="post" style="display: inline-block">
                      <input type="hidden" name="id" value="<%= rest.id %>">
                      <button class="btn-info" type="submit" name="button" style="display: inline-block">Go to!</button>
                    </form>
                    <div style="display: inline-block; float: right">Score: <%= rest.vote_amount %> </div>
                  </div>
              </div>
              <% @rest_rank += 1 %>
          <% end %>
          <!-- 1.<hr>
          2.<hr>
          3.<hr>
          4.<hr>
          5.<hr> -->
        </div>
        <div class="col-xs-6">
          <% @sorted_users.each do |user| %>
              <div class="user-list">
                <p><%= @user_rank %>.  <%= user.username %> </p>
                <p>Karma: <%= user.karma %> </p>
                <hr>
              </div>
            <% @user_rank += 1 %>
          <% end %>
        </div>
    </div>
</div>
