<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHOMP</title>

    <!--  PRE-FAB CSS LINKS-->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/bootstrap.css" rel="stylesheet">


    <!--  CUSTOM CSS LINKS-->
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

    <!--  FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>


  </head>
  <body>

    <header>
      <div class="row banner">
          <div class="col-xs-5">
            <h1><img src="/styles/black_fork_and_spoon.png" class="title_icon"/> CHOMP <img src="/styles/black_fork_and_spoon.png" class="title_icon"/></h1>
          </div>
          <div class="username_or_login">
            <% if session[:logged_in] == true %>
              <div class="<%= @karmaclass %>"> Hello, <%= @current_user %></div><a href='users/logout'>Logout</a>
              <% else %>
              <div>
              <form class="form-inline" action="/users/login" method="post">
                <div class="login_group">
                    <div class="form-group">
                      <input class="form-control col-xs-3" type="text" name="username" value="" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input class="form-control col-xs-3" type="password" name="password" value="" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm log_in" name="button">LOG IN</button><br>
                </div>
                <a href='/users/' class="sign_up">Not registered? Sign up!</a>
              </form></div>
              <!-- <a href="/users">LOGIN/REGISTER</a> -->
            <% end %>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-a"><a href="/">HOME</a></li>
              <li class="nav-a"><a href="/users/account">ACCOUNT</a></li>
              <li class="nav-a"><a href="/restaurants">ADD A RESTAURANT</a></li>
              <li class="nav-a"><a href="/restaurants/all">ALL RESTAURANTS</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="alert alert-danger" role="alert">
        <%= session[:account_message] %>
      </div>

    <!-- END NAV BAR NAV -->
    </header>



    <%= yield %>


    <!-- <footer> <%= erb :welcome %> </footer> -->
    <footer> <%= erb :chat %> </footer>

    <!--  PRE-FAB JS SCRIPTS-->


    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.js"></script>

    <!--  CUSTOM JS SCRIPTS-->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
