<% @users.each do |user| %>
  <% if user[:logged_in] == true %>

  <p>User: <%= user.username %> </p>
  <p>Password: <%= user.password %> </p>
  <form class="" action="/users/logout" method="post">
    <input type="hidden" name="id" value="<%= user.id %>">
    <button type="submit" name="button">Log this user out</button>
  </form>
  <hr>
  <% end %>

<% end %>

<hr><hr><hr>


<% @users.each do |user| %>

  <p>User: <%= user.username %> </p>
  <p>Password: <%= user.password %> </p>
  <p>Karma amount: <%= user.karma %> </p>
  <p>ID: <%= user.id%> </p>

  <hr>
  <% end %>


  <hr><hr><hr>
