

<div class="col-md-12 ">
  <% @restaurants.each do |rest| %>
    <% if rest.vote_amount >= 10 %>
      <% @vote_class = 'high-vote' %>
    <% elsif rest.vote_amount >= 0 %>
      <% @vote_class = 'med-vote' %>
      <% else rest.vote_amount < 0 %>
      <% @vote_class = 'low-vote' %>
    <% end %>

      <div class="rest-list <%= @vote_class %> ">
        <p><%= rest.name %> </p>
        <p><%= rest.description %> </p>
        <p>tags: <%= rest.tags %> </p>
        <p>Score: <%= rest.vote_amount %> </p>
        <p>Neighborhood: <%= rest.neighborhood %> </p>
        <p>Author: <%= User[id: rest.poster_id].username %> </p>
        <hr>

          <form class="form-inline" action="/restaurants/voteup" method="post">
            <div class="form-group">
              <input type="hidden" name="id" value="<%= rest.id %>">
              <button class="btn-primary" type="submit" name="button">Vote up</button>
            </div>
          </form>
          <form class="form-inline" action="/restaurants/votedown" method="post">
            <div class="form-group">
              <input type="hidden" name="id" value="<%= rest.id %>">
              <button class="btn-danger" type="submit" name="button">Vote down</button>
            </div>
          </form>
      </div>
  <% end %>
  <!-- 1.<hr>
  2.<hr>
  3.<hr>
  4.<hr>
  5.<hr> -->
</div>


  <!-- Integer :poster_id
  String :name
  Text :description
  String :tags
  Integer :vote_amount
  String :neighborhood -->




  <!-- Integer :poster_id
  String :name
  Text :description
  String :tags
  Integer :vote_amount
  String :neighborhood -->
