<% @restaurants.each do |rest| %>

  <p>Restaurant: <%= rest.name %> </p>
  <p>Description: <%= rest.description %> </p>
  <p>tags: <%= rest.tags %> </p>
  <p>Score: <%= rest.vote_amount %> </p>
  <p>Neighborhood: <%= rest.neighborhood %> </p>

  <hr>
  <% end %>


  <!-- Integer :poster_id
  String :name
  Text :description
  String :tags
  Integer :vote_amount
  String :neighborhood -->
